<header class="site-header">
		<div class="container">
				<div class="header clearfix">
				  <nav>
					<ul class="nav nav-pills pull-right">
					  <li class="nav-item">
						<a class="nav-link" href="http://kieranrcampbell.github.io">Home</a>
						</li>
						<li class="nav-item">
						<a class="nav-link" href="http://kieranrcampbell.github.io/blog">Archive</a>
					  </li>             
					</ul>
				  </nav> 
				  <h4>Kieran R Campbell &nbsp; &middot; &nbsp; Blog</h4>
				</div>
</header>
